@import "tailwindcss";

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
}
body {
  background-color: red;
}
 /* for print task  */

 
@media print {
  body * {
    visibility: hidden;
  }

  table,
  table * {
    visibility: visible;
  }

  table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Hide toggle in print */
  .status-toggle {
    display: none !important;
  }

  /* Show text status in print */
  .status-text {
    display: inline !important;
    font-weight: bold;
  }
}

